body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

#quoteList {
  margin-bottom: 20px;
  margin-top: 20px;
}

.quote {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.quote p {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}
